html, body {
    margin: 0;
    padding: 0;
}

a {
    color: initial;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

body.js-stop-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

a, button, input, textarea {
    &:focus {
        outline: none;
    }
}