$background: #F8F8F8;
$text: #595959;
$link: #3897F1;

$control-border: #E9E9E9;
$control-background: #FFF;
$input-placeholder: #949494;
$control-active: #3897F1;
$control-decline: #f13838;
$control-inactive: #99A2AD;

$radio-border: #99A2AD;

$harmon-border: #F1F1F1;